*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
    box-sizing: "border-box";
}
header{

    background-image:/* linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), */url("1.jpg");
    height:100vh;
    background-size: cover;
    background-position:center;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #fff;
    transition: 0.5;
}
ul li a:hover{
    background-color:white;
    color:black;
}
.logo img{
    float: left;
    width:150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.middle{
    position: absolute;
    top: 50%;
    left:50%;
transform:translate(-50%,-50%);
}
.middle h1{
    color: #fff;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 62%;
    left:50%;
transform:translate(-50%,-50%);
}
.btn{
    border: 2px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}